<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>10000</key>
    <string>必选参数不能为空</string>
    <key>10001</key>
    <string>用户请求频率过快，超过该接口允许的限额</string>
    <key>10002</key>
    <string>系统错误</string>
    <key>10004</key>
    <string>请求失败</string>
    <key>10005</key>
    <string>SecretKey不存在</string>
    <key>10006</key>
    <string>Api_key不存在</string>
    <key>10007</key>
    <string>签名不匹配</string>
    <key>10008</key>
    <string>非法参数</string>
    <key>10009</key>
    <string>订单不存在</string>
    <key>10010</key>
    <string>余额不足</string>
    <key>10011</key>
    <string>买卖的数量小于BTC/LTC最小买卖额度</string>
    <key>10012</key>
    <string>当前网站暂时只支持btc_usd ltc_usd</string>
    <key>10013</key>
    <string>此接口只支持https请求</string>
    <key>10014</key>
    <string>下单价格不得≤0或≥</string>
    <key>10015</key>
    <string>下单价格与最新成交价偏差过大</string>
    <key>10016</key>
    <string>币数量不足</string>
    <key>10017</key>
    <string>API鉴权失败</string>
    <key>10018</key>
    <string>借入不能小于最低限额[USD:100,BTC:0.1,LTC:1]</string>
    <key>10019</key>
    <string>页面没有同意借贷协议</string>
    <key>10020</key>
    <string>费率不能大于1%</string>
    <key>10021</key>
    <string>费率不能小于0.01%</string>
    <key>10023</key>
    <string>获取最新成交价错误</string>
    <key>10024</key>
    <string>可借金额不足</string>
    <key>10025</key>
    <string>额度已满，暂时无法借款</string>
    <key>10026</key>
    <string>借款(含预约借款)及保证金部分不能提出</string>
    <key>10027</key>
    <string>修改敏感提币验证信息，24小时内不允许提现</string>
    <key>10028</key>
    <string>提币金额已超过今日提币限额</string>
    <key>10029</key>
    <string>账户有借款，请撤消借款或者还清借款后提币</string>
    <key>10031</key>
    <string>存在BTC/LTC充值，该部分等值金额需6个网络确认后方能提出</string>
    <key>10032</key>
    <string>未绑定手机或谷歌验证</string>
    <key>10033</key>
    <string>服务费大于最大网络手续费</string>
    <key>10034</key>
    <string>服务费小于最低网络手续费</string>
    <key>10035</key>
    <string>可用BTC/LTC不足</string>
    <key>10036</key>
    <string>提币数量小于最小提币数量</string>
    <key>10037</key>
    <string>交易密码未设置</string>
    <key>10040</key>
    <string>取消提币失败</string>
    <key>10041</key>
    <string>提币地址不存在或未认证</string>
    <key>10042</key>
    <string>交易密码错误</string>
    <key>10043</key>
    <string>合约权益错误，提币失败</string>
    <key>10044</key>
    <string>取消借款失败</string>
    <key>10047</key>
    <string>当前为子账户，此功能未开放</string>
    <key>10048</key>
    <string>提币信息不存在</string>
    <key>10049</key>
    <string>小额委托(小于0.15BTC)的未成交委托数量不得大于50个</string>
    <key>10050</key>
    <string>重复撤单</string>
    <key>10052</key>
    <string>提币受限</string>
    <key>10064</key>
    <string>美元充值后的48小时内，该部分资产不能提出</string>
    <key>10100</key>
    <string>账户被冻结</string>
    <key>10101</key>
    <string>订单类型错误</string>
    <key>10102</key>
    <string>不是本用户的订单</string>
    <key>10103</key>
    <string>私密订单密钥错误</string>
    <key>10216</key>
    <string>非开放API</string>
    <key>1002</key>
    <string>交易金额大于余额</string>
    <key>1003</key>
    <string>交易金额小于最小交易值</string>
    <key>1004</key>
    <string>交易金额小于0</string>
    <key>1007</key>
    <string>没有交易市场信息</string>
    <key>1008</key>
    <string>没有最新行情信息</string>
    <key>1009</key>
    <string>没有订单</string>
    <key>1010</key>
    <string>撤销订单与原订单用户不一致</string>
    <key>1011</key>
    <string>没有查询到该用户</string>
    <key>1013</key>
    <string>没有订单类型</string>
    <key>1014</key>
    <string>没有登录</string>
    <key>1015</key>
    <string>没有获取到行情深度信息</string>
    <key>1017</key>
    <string>日期参数错误</string>
    <key>1018</key>
    <string>下单失败</string>
    <key>1019</key>
    <string>撤销订单失败</string>
    <key>1024</key>
    <string>币种不存在</string>
    <key>1025</key>
    <string>没有K线类型</string>
    <key>1026</key>
    <string>没有基准币数量</string>
    <key>1027</key>
    <string>参数不合法可能超出限制</string>
    <key>1028</key>
    <string>保留小数位失败</string>
    <key>1029</key>
    <string>正在准备中</string>
    <key>1030</key>
    <string>有融资融币无法进行交易</string>
    <key>1031</key>
    <string>转账余额不足</string>
    <key>1032</key>
    <string>该币种不能转账</string>
    <key>1035</key>
    <string>密码不合法</string>
    <key>1036</key>
    <string>谷歌验证码不合法</string>
    <key>1037</key>
    <string>谷歌验证码不正确</string>
    <key>1038</key>
    <string>谷歌验证码重复使用</string>
    <key>1039</key>
    <string>短信验证码输错限制</string>
    <key>1040</key>
    <string>短信验证码不合法</string>
    <key>1041</key>
    <string>短信验证码不正确</string>
    <key>1042</key>
    <string>谷歌验证码输错限制</string>
    <key>1043</key>
    <string>登陆密码不允许与交易密码一致</string>
    <key>1044</key>
    <string>原密码错误</string>
    <key>1045</key>
    <string>未设置二次验证</string>
    <key>1046</key>
    <string>原密码未输入</string>
    <key>1048</key>
    <string>用户被冻结</string>
    <key>1050</key>
    <string>订单已撤销或者撤单中</string>
    <key>1051</key>
    <string>订单已完成交易</string>
    <key>1201</key>
    <string>账号零时删除</string>
    <key>1202</key>
    <string>账号不存在</string>
    <key>1203</key>
    <string>转账金额大于余额</string>
    <key>1204</key>
    <string>不同种币种不能转账</string>
    <key>1205</key>
    <string>账号不存在主从关系</string>
    <key>1206</key>
    <string>提现用户被冻结</string>
    <key>1207</key>
    <string>不支持转账</string>
    <key>1208</key>
    <string>没有该转账用户</string>
    <key>1209</key>
    <string>当前api不可用</string>
    <key>1216</key>
    <string>市价交易暂停，请选择限价交易</string>
    <key>1217</key>
    <string>您的委托价格超过最新成交价的±5%，存在风险，请重新下单</string>
    <key>1218</key>
    <string>下单失败，请稍后再试</string>
    <key>403</key>
    <string>用户请求过快，IP被屏蔽</string>
</dict>
</plist>
